<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ProjectName" value="ServerCyde" />
  </appSettings>
    <connectionStrings configSource="connStr.config"></connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="None" />
    <httpHandlers>
      <clear />
      <add verb="*" path="*.config" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.cs" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.css" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.woff" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.ttf" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.svg" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.eot" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.test" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.xml" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.swf" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.js" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.txt" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.gif" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.png" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.ico" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.jpg" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.html" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.pdf" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.htm" type="System.Web.StaticFileHandler" />
      <add verb="*" path="/default.htm" type="System.Web.StaticFileHandler" />
      <add verb="*" path="/SiteMap" type="SharpFusion.SiteMap" />
      <add verb="*" path="/MapHandlers" type="SharpFusion.MapHandlers" />
      <add verb="*" path="/BuildObjects" type="SharpFusion.Build.ObjectBuilder" />
      <add verb="*" path="/FormPageBuilder" type="SharpFusion.Build.FormPageBuilder" />
      <add verb="*" path="/DAL" type="SharpFusion.Build.DALBuilder" />
      <!--GenHandlersStart-->
      <add verb="*" path="/dash/*/site/" type="ServerCyde.Pages.SitePage" />
      <add verb="*" path="/dash/*/comet/" type="ServerCyde.Pages.page_comet" />
      <add verb="*" path="/blog/" type="ServerCyde.Pages.page_blog" />
      <add verb="*" path="/signup/" type="ServerCyde.Pages.page_newsletter" />
      <add verb="*" path="/support/" type="ServerCyde.Pages.page_support" />
      <add verb="*" path="/signup/thanks/" type="ServerCyde.Pages.page_thanks" />
      <add verb="*" path="/dash/*/SimpleDB/Selects/" type="ServerCyde.Pages.page_selects" />
      <add verb="*" path="/dash/*/SimpleDB/Selects/*/" type="ServerCyde.Pages.page_edit_selects" />
      <add verb="*" path="/dash/*/API/GetFields/" type="ServerCyde.Pages.page_selects_get_fields" />
      <add verb="*" path="/" type="ServerCyde.Pages.page_home" />
      <add verb="*" path="/pricing/" type="ServerCyde.Pages.page_pricing" />
      <add verb="*" path="/dash/*/SimpleDB/Domains/" type="ServerCyde.Pages.page_domains" />
      <add verb="*" path="/about/" type="ServerCyde.Pages.page_about" />
      <add verb="*" path="/dash/*/emails/" type="ServerCyde.Pages.page_emails" />
      <add verb="*" path="/dash/*/emails/email/*/" type="ServerCyde.Pages.page_edit_emails" />
      <add verb="*" path="/ipn/" type="ServerCyde.IPNHandler" />
      <add verb="*" path="/tos/" type="ServerCyde.Pages.page_tos" />
      <add verb="*" path="/logout/" type="ServerCyde.Pages.page_logout" />
      <add verb="*" path="/forgot/" type="ServerCyde.Pages.page_forgot" />
      <add verb="*" path="/signin/" type="ServerCyde.Pages.page_signin" />
      <add verb="*" path="/register/" type="ServerCyde.Pages.page_signup" />
      <add verb="*" path="/confirm/" type="ServerCyde.Pages.page_authentication" />
      <add verb="*" path="/dash/" type="ServerCyde.Pages.page_dash" />
      <add verb="*" path="/dash/*/apis/" type="ServerCyde.Pages.page_apis" />
      <add verb="*" path="/dash/*/apis/api/*/" type="ServerCyde.Pages.page_edit_apis" />
      <add verb="*" path="/unsubscribe/" type="ServerCyde.Pages.page_unsubscribe" />
      <add verb="*" path="/unsubscribed/" type="ServerCyde.Pages.page_unsubscribed" />
      <add verb="*" path="/dash/*/SimpleDB/Modify/" type="ServerCyde.Pages.page_modifys" />
      <add verb="*" path="/dash/*/SimpleDB/Modify/*/" type="ServerCyde.Pages.page_edit_modifys" />
      <add verb="*" path="/developers/" type="ServerCyde.Pages.page_developers" />
      <add verb="*" path="/docs/" type="ServerCyde.Pages.page_docs" />
      <add verb="*" path="/demos/" type="ServerCyde.Pages.page_demos" />
      <add verb="*" path="/showcase/" type="ServerCyde.Pages.page_showcase" />
      <add verb="*" path="/dash/*/SimpleDB/Get/" type="ServerCyde.Pages.page_gets" />
      <add verb="*" path="/dash/*/SimpleDB/get/*/" type="ServerCyde.Pages.page_edit_Gets" />
      <add verb="*" path="/dash/*/users/" type="ServerCyde.Pages.page_users" />
      <!--GenHandlersEnd-->
    </httpHandlers>
    <httpModules>
      <clear />
      <add name="ServerCyde.Module" type="ServerCyde.Module" />
    </httpModules>
    <httpRuntime requestValidationType="SharpFusion.RequestValidation" requestPathInvalidCharacters="" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ServerCyde.Module" type="ServerCyde.Module" />
    </modules>
    <handlers>
      <clear />
      <add verb="*" path="*.config" type="System.Web.HttpForbiddenHandler" name="8config" />
      <add verb="*" path="*.cs" type="System.Web.HttpForbiddenHandler" name="8cs" />
      <add verb="*" path="*.css" type="System.Web.StaticFileHandler" name="8css" />
      <add verb="*" path="*.woff" type="System.Web.StaticFileHandler" name="8woff" />
      <add verb="*" path="*.ttf" type="System.Web.StaticFileHandler" name="8ttf" />
      <add verb="*" path="*.svg" type="System.Web.StaticFileHandler" name="8svg" />
      <add verb="*" path="*.eot" type="System.Web.StaticFileHandler" name="8eot" />
      <add verb="*" path="*.test" type="System.Web.StaticFileHandler" name="8test" />
      <add verb="*" path="*.xml" type="System.Web.StaticFileHandler" name="8xml" />
      <add verb="*" path="*.swf" type="System.Web.StaticFileHandler" name="8swf" />
      <add verb="*" path="*.js" type="System.Web.StaticFileHandler" name="8js" />
      <add verb="*" path="*.txt" type="System.Web.StaticFileHandler" name="8txt" />
      <add verb="*" path="*.gif" type="System.Web.StaticFileHandler" name="8gif" />
      <add verb="*" path="*.png" type="System.Web.StaticFileHandler" name="8png" />
      <add verb="*" path="*.ico" type="System.Web.StaticFileHandler" name="8ico" />
      <add verb="*" path="*.jpg" type="System.Web.StaticFileHandler" name="8jpg" />
      <add verb="*" path="*.html" type="System.Web.StaticFileHandler" name="8html" />
      <add verb="*" path="*.pdf" type="System.Web.StaticFileHandler" name="8pdf" />
      <add verb="*" path="*.htm" type="System.Web.StaticFileHandler" name="8htm" />
      <add verb="*" path="/default.htm" type="System.Web.StaticFileHandler" name="0defaulthtm" />
      <add verb="*" path="/SiteMap" type="SharpFusion.SiteMap" name="0SiteMap" />
      <add verb="*" path="/MapHandlers" type="SharpFusion.MapHandlers" name="0MapHandlers" />
      <add verb="*" path="/BuildObjects" type="SharpFusion.Build.ObjectBuilder" name="0BuildObjects" />
      <add verb="*" path="/FormPageBuilder" type="SharpFusion.Build.FormPageBuilder" name="0FormPageBuilder" />
      <add verb="*" path="/DAL" type="SharpFusion.Build.DALBuilder" name="0DAL" />
      <!---->
      <add verb="*" path="/dash/*/site/" type="ServerCyde.Pages.SitePage" name="0dash080site0" />
      <add verb="*" path="/dash/*/comet/" type="ServerCyde.Pages.page_comet" name="0dash080comet0" />
      <add verb="*" path="/blog/" type="ServerCyde.Pages.page_blog" name="0blog0" />
      <add verb="*" path="/signup/" type="ServerCyde.Pages.page_newsletter" name="0signup0" />
      <add verb="*" path="/support/" type="ServerCyde.Pages.page_support" name="0support0" />
      <add verb="*" path="/signup/thanks/" type="ServerCyde.Pages.page_thanks" name="0signup0thanks0" />
      <add verb="*" path="/dash/*/SimpleDB/Selects/" type="ServerCyde.Pages.page_selects" name="0dash080SimpleDB0Selects0" />
      <add verb="*" path="/dash/*/SimpleDB/Selects/*/" type="ServerCyde.Pages.page_edit_selects" name="0dash080SimpleDB0Selects080" />
      <add verb="*" path="/dash/*/API/GetFields/" type="ServerCyde.Pages.page_selects_get_fields" name="0dash080API0GetFields0" />
      <add verb="*" path="/" type="ServerCyde.Pages.page_home" name="0" />
      <add verb="*" path="/pricing/" type="ServerCyde.Pages.page_pricing" name="0pricing0" />
      <add verb="*" path="/dash/*/SimpleDB/Domains/" type="ServerCyde.Pages.page_domains" name="0dash080SimpleDB0Domains0" />
      <add verb="*" path="/about/" type="ServerCyde.Pages.page_about" name="0about0" />
      <add verb="*" path="/dash/*/emails/" type="ServerCyde.Pages.page_emails" name="0dash080emails0" />
      <add verb="*" path="/dash/*/emails/email/*/" type="ServerCyde.Pages.page_edit_emails" name="0dash080emails0email080" />
      <add verb="*" path="/ipn/" type="ServerCyde.IPNHandler" name="0ipn0" />
      <add verb="*" path="/tos/" type="ServerCyde.Pages.page_tos" name="0tos0" />
      <add verb="*" path="/logout/" type="ServerCyde.Pages.page_logout" name="0logout0" />
      <add verb="*" path="/forgot/" type="ServerCyde.Pages.page_forgot" name="0forgot0" />
      <add verb="*" path="/signin/" type="ServerCyde.Pages.page_signin" name="0signin0" />
      <add verb="*" path="/register/" type="ServerCyde.Pages.page_signup" name="0register0" />
      <add verb="*" path="/confirm/" type="ServerCyde.Pages.page_authentication" name="0confirm0" />
      <add verb="*" path="/dash/" type="ServerCyde.Pages.page_dash" name="0dash0" />
      <add verb="*" path="/dash/*/apis/" type="ServerCyde.Pages.page_apis" name="0dash080apis0" />
      <add verb="*" path="/dash/*/apis/api/*/" type="ServerCyde.Pages.page_edit_apis" name="0dash080apis0api080" />
      <add verb="*" path="/unsubscribe/" type="ServerCyde.Pages.page_unsubscribe" name="0unsubscribe0" />
      <add verb="*" path="/unsubscribed/" type="ServerCyde.Pages.page_unsubscribed" name="0unsubscribed0" />
      <add verb="*" path="/dash/*/SimpleDB/Modify/" type="ServerCyde.Pages.page_modifys" name="0dash080SimpleDB0Modify0" />
      <add verb="*" path="/dash/*/SimpleDB/Modify/*/" type="ServerCyde.Pages.page_edit_modifys" name="0dash080SimpleDB0Modify080" />
      <add verb="*" path="/developers/" type="ServerCyde.Pages.page_developers" name="0developers0" />
      <add verb="*" path="/docs/" type="ServerCyde.Pages.page_docs" name="0docs0" />
      <add verb="*" path="/demos/" type="ServerCyde.Pages.page_demos" name="0demos0" />
      <add verb="*" path="/showcase/" type="ServerCyde.Pages.page_showcase" name="0showcase0" />
      <add verb="*" path="/dash/*/SimpleDB/Get/" type="ServerCyde.Pages.page_gets" name="0dash080SimpleDB0Get0" />
      <add verb="*" path="/dash/*/SimpleDB/get/*/" type="ServerCyde.Pages.page_edit_Gets" name="0dash080SimpleDB0get080" />
      <add verb="*" path="/dash/*/users/" type="ServerCyde.Pages.page_users" name="0dash080users0" />
      <!---->
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpFusion" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>