<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ProjectName" value="ServerCydeAPI" />
  </appSettings>
  <connectionStrings>
    <add name="connstr" connectionString="Data Source=localhost;Initial catalog=ServerCyde;User=sa;Password=unsuckit_99" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="On" />
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="None" />
    <httpHandlers>
      <clear />
      <add verb="*" path="*.config" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.cs" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.css" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.woff" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.ttf" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.svg" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.eot" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.test" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.xml" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.swf" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.js" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.txt" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.gif" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.png" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.ico" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.jpg" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.html" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.htm" type="System.Web.StaticFileHandler" />
      <add verb="*" path="/default.htm" type="System.Web.StaticFileHandler" />
      <add verb="*" path="/SiteMap" type="SharpFusion.SiteMap" />
      <add verb="*" path="/MapHandlers" type="SharpFusion.MapHandlers" />
      <add verb="*" path="/BuildObjects" type="SharpFusion.Build.ObjectBuilder" />
      <add verb="*" path="/FormPageBuilder" type="SharpFusion.Build.FormPageBuilder" />
      <add verb="*" path="/DAL" type="SharpFusion.Build.DALBuilder" />
      <!--GenHandlersStart-->
      <add verb="*" path="/API/APIResponse/" type="ServerCydeAPI.APIResponse" />
      <add verb="*" path="/API/*/" type="ServerCydeAPI.Scripts.Script" />
      <add verb="*" path="/API/*/Person/oAuth/Facebook/" type="ServerCydeAPI.API.APIFacebook" />
      <add verb="*" path="/API/*/Select/*/" type="ServerCydeAPI.APISelect" />
      <add verb="*" path="/API/*/Comet/APICometPost/" type="ServerCydeAPI.APICometPost" />
      <add verb="*" path="/API/*/Comet/Count/" type="ServerCydeAPI.APICountUser" />
      <add verb="*" path="/API/*/Comet/APIFlagUser/" type="ServerCydeAPI.APIFlagUser" />
      <add verb="*" path="/API/*/Comet/APICometSubscribe/" type="ServerCydeAPI.APICometSubscribe" />
      <add verb="*" path="/API/*/Email/*/" type="ServerCydeAPI.APIEmail" />
      <add verb="*" path="/API/*/Modify/*/" type="ServerCydeAPI.APIModify" />
      <add verb="*" path="/API/*/Person/GetPersonByID/" type="ServerCydeAPI.API.APIPersonInfo" />
      <add verb="*" path="/API/*/Person/GetCurrentPerson/" type="ServerCydeAPI.API.APICurrentPersonInfo" />
      <add verb="*" path="/API/*/Person/SignUp/" type="ServerCydeAPI.API.APIPersonSignup" />
      <add verb="*" path="/API/*/Person/SignIn/" type="ServerCydeAPI.API.APIPersonSignIn" />
      <add verb="*" path="/API/*/Person/SendConfirmation/" type="ServerCydeAPI.API.APISendConfirmation" />
      <add verb="*" path="/confirm/*/" type="ServerCydeAPI.API.page_authentication" />
      <add verb="*" path="/API/*/Person/SignOut/" type="ServerCydeAPI.API.APIPersonSignOut" />
      <add verb="*" path="/API/*/Person/ChangePassword/" type="ServerCydeAPI.API.APIPersonChangePassword" />
      <add verb="*" path="/API/*/Person/ChangeName/" type="ServerCydeAPI.API.APIChangeName" />
      <add verb="*" path="/API/*/Person/ChangeEmail/" type="ServerCydeAPI.API.APIChangeEmail" />
      <add verb="*" path="/API/*/Person/ResetPassword/" type="ServerCydeAPI.API.APIPersonResetPassword" />
      <add verb="*" path="/API/*/Get/*/" type="ServerCydeAPI.APIGet" />
      <add verb="*" path="/API/*/API/*/" type="ServerCydeAPI.APIapi" />
      <!--GenHandlersEnd-->
    </httpHandlers>
    <httpModules>
      <clear />
      <add name="ServerCydeAPI.Module" type="ServerCydeAPI.Module" />
    </httpModules>
    <httpRuntime requestValidationType="SharpFusion.RequestValidation" requestPathInvalidCharacters="" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" allowHighBitCharacters="false">
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ServerCydeAPI.Module" type="ServerCydeAPI.Module" />
    </modules>
    <handlers>
      <clear />
      <add verb="*" path="*.config" type="System.Web.HttpForbiddenHandler" name="8config" />
      <add verb="*" path="*.cs" type="System.Web.HttpForbiddenHandler" name="8cs" />
      <add verb="*" path="*.css" type="System.Web.StaticFileHandler" name="8css" />
      <add verb="*" path="*.woff" type="System.Web.StaticFileHandler" name="8woff" />
      <add verb="*" path="*.ttf" type="System.Web.StaticFileHandler" name="8ttf" />
      <add verb="*" path="*.svg" type="System.Web.StaticFileHandler" name="8svg" />
      <add verb="*" path="*.eot" type="System.Web.StaticFileHandler" name="8eot" />
      <add verb="*" path="*.test" type="System.Web.StaticFileHandler" name="8test" />
      <add verb="*" path="*.xml" type="System.Web.StaticFileHandler" name="8xml" />
      <add verb="*" path="*.swf" type="System.Web.StaticFileHandler" name="8swf" />
      <add verb="*" path="*.js" type="System.Web.StaticFileHandler" name="8js" />
      <add verb="*" path="*.txt" type="System.Web.StaticFileHandler" name="8txt" />
      <add verb="*" path="*.gif" type="System.Web.StaticFileHandler" name="8gif" />
      <add verb="*" path="*.png" type="System.Web.StaticFileHandler" name="8png" />
      <add verb="*" path="*.ico" type="System.Web.StaticFileHandler" name="8ico" />
      <add verb="*" path="*.jpg" type="System.Web.StaticFileHandler" name="8jpg" />
      <add verb="*" path="*.html" type="System.Web.StaticFileHandler" name="8html" />
      <add verb="*" path="*.htm" type="System.Web.StaticFileHandler" name="8htm" />
      <add verb="*" path="/default.htm" type="System.Web.StaticFileHandler" name="0defaulthtm" />
      <add verb="*" path="/SiteMap" type="SharpFusion.SiteMap" name="0SiteMap" />
      <add verb="*" path="/MapHandlers" type="SharpFusion.MapHandlers" name="0MapHandlers" />
      <add verb="*" path="/BuildObjects" type="SharpFusion.Build.ObjectBuilder" name="0BuildObjects" />
      <add verb="*" path="/FormPageBuilder" type="SharpFusion.Build.FormPageBuilder" name="0FormPageBuilder" />
      <add verb="*" path="/DAL" type="SharpFusion.Build.DALBuilder" name="0DAL" />
      <!---->
      <add verb="*" path="/API/APIResponse/" type="ServerCydeAPI.APIResponse" name="0API0APIResponse0" />
      <add verb="*" path="/API/*/" type="ServerCydeAPI.Scripts.Script" name="0API080" />
      <add verb="*" path="/API/*/Person/oAuth/Facebook/" type="ServerCydeAPI.API.APIFacebook" name="0API080Person0oAuth0Facebook0" />
      <add verb="*" path="/API/*/Select/*/" type="ServerCydeAPI.APISelect" name="0API080Select080" />
      <add verb="*" path="/API/*/Comet/APICometPost/" type="ServerCydeAPI.APICometPost" name="0API080Comet0APICometPost0" />
      <add verb="*" path="/API/*/Comet/Count/" type="ServerCydeAPI.APICountUser" name="0API080Comet0Count0" />
      <add verb="*" path="/API/*/Comet/APIFlagUser/" type="ServerCydeAPI.APIFlagUser" name="0API080Comet0APIFlagUser0" />
      <add verb="*" path="/API/*/Comet/APICometSubscribe/" type="ServerCydeAPI.APICometSubscribe" name="0API080Comet0APICometSubscribe0" />
      <add verb="*" path="/API/*/Email/*/" type="ServerCydeAPI.APIEmail" name="0API080Email080" />
      <add verb="*" path="/API/*/Modify/*/" type="ServerCydeAPI.APIModify" name="0API080Modify080" />
      <add verb="*" path="/API/*/Person/GetPersonByID/" type="ServerCydeAPI.API.APIPersonInfo" name="0API080Person0GetPersonByID0" />
      <add verb="*" path="/API/*/Person/GetCurrentPerson/" type="ServerCydeAPI.API.APICurrentPersonInfo" name="0API080Person0GetCurrentPerson0" />
      <add verb="*" path="/API/*/Person/SignUp/" type="ServerCydeAPI.API.APIPersonSignup" name="0API080Person0SignUp0" />
      <add verb="*" path="/API/*/Person/SignIn/" type="ServerCydeAPI.API.APIPersonSignIn" name="0API080Person0SignIn0" />
      <add verb="*" path="/API/*/Person/SendConfirmation/" type="ServerCydeAPI.API.APISendConfirmation" name="0API080Person0SendConfirmation0" />
      <add verb="*" path="/confirm/*/" type="ServerCydeAPI.API.page_authentication" name="0confirm080" />
      <add verb="*" path="/API/*/Person/SignOut/" type="ServerCydeAPI.API.APIPersonSignOut" name="0API080Person0SignOut0" />
      <add verb="*" path="/API/*/Person/ChangePassword/" type="ServerCydeAPI.API.APIPersonChangePassword" name="0API080Person0ChangePassword0" />
      <add verb="*" path="/API/*/Person/ChangeName/" type="ServerCydeAPI.API.APIChangeName" name="0API080Person0ChangeName0" />
      <add verb="*" path="/API/*/Person/ChangeEmail/" type="ServerCydeAPI.API.APIChangeEmail" name="0API080Person0ChangeEmail0" />
      <add verb="*" path="/API/*/Person/ResetPassword/" type="ServerCydeAPI.API.APIPersonResetPassword" name="0API080Person0ResetPassword0" />
      <add verb="*" path="/API/*/Get/*/" type="ServerCydeAPI.APIGet" name="0API080Get080" />
      <add verb="*" path="/API/*/API/*/" type="ServerCydeAPI.APIapi" name="0API080API080" />
      <!---->
    </handlers>
    <httpErrors errorMode="Detailed" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpFusion" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>