<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ProjectName" value="ServerCydeData" />
  </appSettings>
  <connectionStrings>
    <add name="connstr" connectionString="Data Source=localhost;Initial catalog=ServerCyde;User=sa;Password=unsuckit_99" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="None" />
    <httpHandlers>
      <clear />
      <add verb="*" path="*.config" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.cs" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.css" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.woff" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.ttf" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.svg" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.eot" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.test" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.xml" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.swf" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.js" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.txt" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.gif" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.png" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.ico" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.jpg" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.html" type="System.Web.StaticFileHandler" />
      <add verb="*" path="*.htm" type="System.Web.StaticFileHandler" />
      <add verb="*" path="/" type="SharpFusion.SiteMap" />
      <add verb="*" path="/" type="SharpFusion.SiteMap" />
      <add verb="*" path="/MapHandlers" type="SharpFusion.MapHandlers" />
      <add verb="*" path="/BuildObjects" type="SharpFusion.Build.ObjectBuilder" />
      <add verb="*" path="/FormPageBuilder" type="SharpFusion.Build.FormPageBuilder" />
      <add verb="*" path="/DAL" type="SharpFusion.Build.DALBuilder" />
      <!--GenHandlersStart-->
      <!--GenHandlersEnd-->
    </httpHandlers>
    <httpModules>
      <clear />
    </httpModules>
    <httpRuntime requestValidationType="SharpFusion.RequestValidation" requestPathInvalidCharacters="" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" allowHighBitCharacters="false">
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
    </modules>
    <handlers>
      <clear />
      <add verb="*" path="*.config" type="System.Web.HttpForbiddenHandler" name="8config" />
      <add verb="*" path="*.cs" type="System.Web.HttpForbiddenHandler" name="8cs" />
      <add verb="*" path="*.css" type="System.Web.StaticFileHandler" name="8css" />
      <add verb="*" path="*.woff" type="System.Web.StaticFileHandler" name="8woff" />
      <add verb="*" path="*.ttf" type="System.Web.StaticFileHandler" name="8ttf" />
      <add verb="*" path="*.svg" type="System.Web.StaticFileHandler" name="8svg" />
      <add verb="*" path="*.eot" type="System.Web.StaticFileHandler" name="8eot" />
      <add verb="*" path="*.test" type="System.Web.StaticFileHandler" name="8test" />
      <add verb="*" path="*.xml" type="System.Web.StaticFileHandler" name="8xml" />
      <add verb="*" path="*.swf" type="System.Web.StaticFileHandler" name="8swf" />
      <add verb="*" path="*.js" type="System.Web.StaticFileHandler" name="8js" />
      <add verb="*" path="*.txt" type="System.Web.StaticFileHandler" name="8txt" />
      <add verb="*" path="*.gif" type="System.Web.StaticFileHandler" name="8gif" />
      <add verb="*" path="*.png" type="System.Web.StaticFileHandler" name="8png" />
      <add verb="*" path="*.ico" type="System.Web.StaticFileHandler" name="8ico" />
      <add verb="*" path="*.jpg" type="System.Web.StaticFileHandler" name="8jpg" />
      <add verb="*" path="*.html" type="System.Web.StaticFileHandler" name="8html" />
      <add verb="*" path="*.htm" type="System.Web.StaticFileHandler" name="8htm" />
      <add verb="*" path="/" type="SharpFusion.SiteMap" name="0" />
      <add verb="*" path="/" type="SharpFusion.SiteMap" name="0" />
      <add verb="*" path="/MapHandlers" type="SharpFusion.MapHandlers" name="0MapHandlers" />
      <add verb="*" path="/BuildObjects" type="SharpFusion.Build.ObjectBuilder" name="0BuildObjects" />
      <add verb="*" path="/FormPageBuilder" type="SharpFusion.Build.FormPageBuilder" name="0FormPageBuilder" />
      <add verb="*" path="/DAL" type="SharpFusion.Build.DALBuilder" name="0DAL" />
      <!---->
      <!---->
    </handlers>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpFusion" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>